<hr>
<footer id="footer">
<div class="container">
<div>

<form class="form-inline">
<div class="form-group">
<label for="exampleInputEmail">To subscribe,Enter your E-mail and hit the subscribe button.</label>
<input type="email" class="form-control" id="exampleInputEmail" placeholder="naajib38@example.com">
</div>
<button type="submit" class="btn btn-success">Subscribe </button>
</form>
</div>
<!-- social media icons -->
<div class="container center-items">
<div class="social center-items">
<a href="https://twitter.com/Naajib38Othmern">
<i class="fa fa-twitter"></i>
</a>
</div>
<div class="social center-items">
<a href="https://www.facebook.com/profile.php?id=100004647108022">
<i class="fa fa-facebook"></i>
</a>
</div>
<div class="social center-items">
<a href="https://www.instagram.com/05car_jr_ner733p/">
<i class="fa fa-instagram"></i>
</a>
</div>
</div>

<p id="finale">&copy; 2017 Ne0ncode blog</p>
</footer>
