<!--Mask-->
<div  id="intro" class="view hm-black-strong">
        
     <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">

        <div class="row d-flex justify-content-center">

            <div class="col-md-10  col text-center">

                <!-- Heading -->
                <h2 class="display-3 font-bold white-text mb-2">E-Mall</h2>

                <!-- Divider -->
                <hr class="hr-light">

                <!-- Description -->
                <h4 class="white-text my-4">View malls, their stores and features remotely.</h4>
                <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i></button>

            </div>

        </div>

    </div>

</div>
<!--/.Mask-->

<!--Main layout-->
<main class="mt-5">
    <div class="container">

        <!--Section: Featured Malls-->
        <section id="Featured-malls"  class="text-center">
         <!-- Heading -->
		  <h2 class="mb-4">Featured Malls</h2>

		  <!--Grid row-->
		  <div class="row d-flex justify-content-center mb-4">

		      <!--Grid column-->
		      <div class="col-md-12 justify-content-center">

		          <!-- Description -->
		          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
		          facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
		          sit pariatur.</p>

		      </div>
		      <!--Grid column-->

		  </div>
		  <!--Grid row-->

		  <!--Grid row-->
		  <div class="row">

		      <!--Grid column-->
		      <div class="col-md-4 mb-5">
		         <i class="fa fa-camera-retro fa-4x"></i>
		          <h4 class="my-4">Two Rivers</h4>
		          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
		      </div>
		      <!--Grid column-->

		      <!--Grid column-->
		      <div class="col-md-4 mb-1">
		          <i class="fa fa-heart  fa-4x"></i>
		          <h4 class="my-4">Yaya</h4>
		          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
		              assumenda deleniti hic.</p>
		      </div>
		      <!--Grid column-->

		      <!--Grid column-->
		      <div class="col-md-4 mb-1">
		          <i class="fa fa-bicycle  fa-4x"></i>
		          <h4 class="my-4">The Junction</h4>
		          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
		              assumenda deleniti hic.</p>
		      </div>
		      <!--Grid column-->

		  </div>
		  <!--Grid row-->



        </section>
        <!--Section: Featured Malls-->

        <hr class="my-5">

        <!--Section: Team-->
        <section id="Team" class="text-center">
         <h2 class="mb-4">Our Team</h2>
           <div class="row">
			<div class="col-sm-4">
			      <div class="flip">
			        <div class="card"> 
			          <div class="face front"> 
			            <div class="inner">   
			              <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAmjAAAAJGZhMDk2YWM3LWEwZGItNDk1ZC04YTQzLWQ2NWNiYWQyZGEwNA.jpg">
			            </div>
			          </div> 
			          <div class="face back"> 
			            <div class="inner text-center"> 
			              <h3>Samwel Kinuthia<br>
			              Full Stack Web Developer </h3>
			              <button type="button" class="btn btn-default">Know More</button>
			            </div>
			          </div>
			        </div>	 
			      </div>
			    </div>
			  <div class="col-sm-4">
			      <div class="flip">
			        <div class="card"> 
			          <div class="face front"> 
			            <div class="inner">   
			              <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAmjAAAAJGZhMDk2YWM3LWEwZGItNDk1ZC04YTQzLWQ2NWNiYWQyZGEwNA.jpg">
			            </div>
			          </div> 
			          <div class="face back"> 
			            <div class="inner text-center"> 
			              <h3>Abdulmajid Osman <br>
			              Full Stack Web Developer</h3>
			              <button type="button" class="btn btn-default" href="najib-portfolio.herokuapp.com">Know More</button>
			            </div>
			          </div>
			        </div>	 
			      </div>
			    </div>
			  <div class="col-sm-4">
			      <div class="flip">
			        <div class="card"> 
			          <div class="face front"> 
			            <div class="inner">   
			              <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAmjAAAAJGZhMDk2YWM3LWEwZGItNDk1ZC04YTQzLWQ2NWNiYWQyZGEwNA.jpg">
			            </div>
			          </div> 
			          <div class="face back"> 
			            <div class="inner text-center"> 
			              <h3>VIctor Muigua<br>
			              Full Stack Web Developer</h3>
			              <button type="button" class="btn btn-default">Know More</button>
			            </div>
			          </div>
			        </div>	 
			      </div>
			    </div>
			  </div>

        </section>
        <!--Section: Team-->

        <hr class="my-5">

        <!--Section: Gallery-->
        <section id="gallery">



        </section>
        <!--Section: Gallery-->

        <hr class="my-5">

        <!--Section: Contact-->
        <section id="contact">



        </section>
        <!--Section: Contact-->

    </div>
</main>
<!--Main layout-->











<!-- <div class="Container">
<div class="row">
	
</div>
<div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		
	</div>
</div>
<section>
	<h3 id="team">Our Team</h3>

</section>
</div> -->