<div class="jumbotron">
  <h1>Presenting the E-mall API</h1>
  <p>With it, you can access mall, store and product data</p>
  <p>Try it Out..</p>
  <ul>
    <li>
      <%=link_to "Get mall data", api_v1_malls_path%>
    </li>
  </ul>
</div>
