/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*

*= require animate
*= require toastr
*= require_self
*= require_tree .
*/
@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";

// custom stylesheets
@import "navbar";
@import "malls_index";
@import "malls_show";
@import "categories";
@import "products";
@import "rooms";
@import "events";
@import "features";


#footer {
  clear: both;
  position: relative;
  z-index: 10;
  /*height: 9em;*/
  margin-top: -3em;
  background-color: #222;
  text-align: center;
  color: #fff;
  
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  background-color: #99ca3d;
  color: #fff;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.social:hover {
  background-color: transparent;
  color: #99ca3d;
  border: 1px solid #99ca3d;
}
#column1{
  color: white;
}
#About{
  background-image:  url("");
}
.parallax { 
    
 background-image: url("http://www.emall.com.kw/assets/images/addr.jpg");

    /* Full height */
 height: 100%; 

    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.myparallax{
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  padding-top: 70px;
  overflow-x: hidden;
}
