@import "sidenav";

.burger_icon {
  cursor: pointer;
  color: #33bbff;
  margin: 30px;
  left: 0;
  position: absolute;

  .navicon {
    font-size: 70px;
  }
}

.fullscreen-bg__video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-filter: contrast(90%);
  transition: 1s opacity;
  position: absolute;
}

.mall_button {
  background-color:rgba(192,192,192, 0.5);
  margin-top: 8%;
  text-align: center;
  padding:20px;
  height:350px;
  width:500px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 90px;
    color:#0e2945;
    font-family: "Josefin Sans", sans-serif;
  }
  h4{
    font-size: 50px;
    margin:20px;
  }

  button {
    border: 0 solid red;
    padding: 30px;
    font-size: 17px;
    color: white;
    border-radius: 4px;
    background-color: #0E2945;
  }
}
