@import url('https://fonts.googleapis.com/css?family=Candal|Monoton|NTR|Zilla+Slab+Highlight');
.mall_index_top {
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('mall.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: contrast(90%);
  padding: 70px;
  p {
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    font-size: 70px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  .search {
    .form-control {
      width: 50%;
      margin: auto;
    }

    .search_btn {
      margin: 10px;
      padding: 10px;
      border: 0 solid blue;
      border-radius: 3px;
    }
  }
}

//malls loop

.main {
  margin: 30px;
}

.details {
  color: white;
  height: 350px;
  padding: 20px;
  text-align: center;
  background-color: rgba(14, 41, 69, 0.9);
}

.view {
  text-align: center;
  height: 350px;
  background-repeat: no-repeat;
}

.view .mall {
  margin-top: 70px;
  padding: 30px;
  color: white;
  background-color: #0E2945;
  border-radius: 5px;
  font-family: 'NTR', sans-serif;
  border: 0px solid grey;
  font-size: 30px;
}

.view .mall:hover {
  background-color: #0d253f;
  color: white;
}

.time {
  color: #00b300;
  font-size: 20px;
}

.details h1 {
  font-family: 'Zilla Slab Highlight', sans-serif;
  font-size: 50px;
}

.details h3 {
  font-family: 'NTR', sans-serif;
}
.details h3 a{
  color:white;
}

.details p {
  font-family: 'NTR', sans-serif;
}

.page-header{
  text-align: center;
}


.mall_map{
  text-align: center;
  p{
    text-align: center;
    padding:20px;
    font-size:30px;
  }
}


#map {
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
