.header_show {
  padding: 100px;
  color: white;
  text-align: center;
  h1{
    font-size:70px;
    color:white;
    font-weight: bolder;
  }
  p{
    font-size:20px;
    font-weight: bolder;
  }
}

#map {
  width: 100%;
}

.map {
  width: 100%;
  height: 400px;
}

.mall_images {
  height: max;
  margin: 20px;
  text-align: center;
  padding: 10px;

  .mall_attachment {
    box-shadow: 8px 8px 10px #aaa;
    height: 400px;
    width: 100%;
    border: 0 solid red;
    border-radius: 3px;
  }
}

.mall_rooms {
  text-align: center;
  padding: 10px;
  margin: 20px;
  .mall_room{
    padding:20px;
    .room_tile{
      border:2px solid #b3b3b3;
      .vacant{
        color:red;
      }
      #vacant{
        background-color:red;
        color:white;
      }
      .store_image {
        height: 250px;
        width: 100%;
      }
    }
  }
}
