.navbar-inverse {
    background: #222B31 !important;
    padding: 10px;
}

.navbar-brand {
    font: 16px Lato !important;
    text-transform: uppercase;
    color: #FFF !important;
    letter-spacing: 3px;
    margin-top: 2px;
    border: 2px solid white;
    border-radius: 3px;
}

.nav {
    margin-bottom: 0px;

    a {
        font: 500 15px Lato;
        letter-spacing: 3px;
        padding: 16px !important;
        color: #a3bfc6 !important;
        text-transform: uppercase;
        position: relative;
        z-index: 1000;
    }

    a:hover {
        color: #FFF !important;
    }

    li {
        position: relative;
    }
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-collapse {
    box-shadow: none !important;
    border: none !important;
}

.navbar-inverse .navbar-toggle:hover {
    background: transparent !important;
}

.navbar-inverse .navbar-toggle:focus {
    background: transparent !important;
}

.navbar-inverse .navbar-toggle:active {
    background: transparent !important;
}

.icon-bar {
    background: #a3bfc6 !important;
}

.hover {
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #EE445F !important;
    z-index: 0;
    opacity: 0;
}

@media (max-width: 767px) {
    .nav {
        padding-bottom: 20px;

        a {
            padding: 12px !important;
        }
    }
}

@media (max-width: 480px) {
    .nav {
        padding-bottom: 20px;
    }
}