.top{
  margin-top:2%;
  padding: 30px;
  p{
    font-size:30px;
    font-family: 'Inconsolata', sans-serif;
  }
  font-weight: bold;
  text-align: left;
  .inquiries{
    font-weight: bold;
    font-size:20px;
    text-align: left;
  }
  .occupy{
    font-size:20px;
    margin:10px;
    padding:15px;
    color:white;
    border-radius:5px;
    background-color:#00b300;
    border:0px solid red;
  }
  .occupy:hover{
     background-color:#008000;
     color:white;
  }
}
.room_header {
  color: white;
  text-align: center;
  .room_image {
    border-radius: 50%;
    margin: auto;
    height: 250px;
    width: 250px;
  }

  h1 {
    font-size: 70px;
  }
}

.room_description {
  text-align: center;
  font-size: 20px;
  padding: 30px;
  margin: auto;
}

.room {
  background-color: white;

  .room_products {
    text-align: center;
    border:2px solid #f2f2f2;

    h1 {
      background-color: #0E2945;
      color: white;
      padding:15px;
    }

    .product_tile {
      padding: 10px;

      .product {
        text-align: center;
        border: 2px solid #f2f2f2;
        margin: 10px;

        .product_image {
          width: 100%;
          height: 300px;
        }

        .product_body {
          text-align: center;

          h5 {
            color: red;
            font-size: 28px;
            font-family: 'Josefin Sans', sans-serif;
          }
        }
      }
    }
  }

  .room_details {
    text-align: center;
    font-size: 50px;

    h1 {
      background-color: #0E2945;
      color: white;
      padding: 20px;
    }

    .col-md-6 {
      text-align: center;
      padding: 20px;
      border-right: 1px solid #f2f2f2;
    }

    #room_time_icon {
      font-size: 70px;
    }
  }

  .room_directions {
    background-color: #0E2945;
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 20px;
  }

  .room_contacts {
    background-color:#0E2945;
    color:white;
    margin-bottom: 0;
    text-align: center;

    .contact_icon {
      font-size: 50px;
      margin: 20px;
    }

    .contact_email,
    .contact_phone {
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.upload{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  .well{
    text-align: left;
  }
}
