<div class="container category_show">
  <p>
    <strong><%=@category.name%></strong>

  </p>

  <%@rooms.each do |room|%>
  <div class="col-md-4 col-xs-12 category_card">
    <% if room.category_id == @category.id %>
    <%=image_tag room.storeavatar_url%>
    <%=link_to room.name, mall_room_path(room.mall_id,room)%><br>
    <%= link_to room.mall.name, mall_path(room.mall_id)%>
    <br>
    <%end%>
    <%end%>
  </div>
</div>
