<p>
  <strong><%=@category.name%></strong>

</p>

<%@rooms.each do |room|%>
<% if room.category_id == @category.id %>
<%=link_to room.name, mall_room_path(room.mall_id,room)%><br>
<%= link_to room.mall.name, mall_path(room.mall_id)%> <br>
<%end%>
<%end%>
